# MongoDB Configuration
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=hospital_admin_2026
MONGO_INITDB_DATABASE=hospital_nosql

# Jupyter Configuration
JUPYTER_TOKEN=hospital_jupyter_2026